---
import axios from "axios";

interface PokemonList {
  name: string;
  id: number;
  image: string;
}
const fetchPokemon = async () => {
  try {
    const response = await axios.get<{ results: PokemonList[] }>(
      "https://pokeapi.co/api/v2/pokemon?limit=50"
    );
    const pokemon = response.data?.results?.map(
      (pokemon: { name: any }, index: number) => {
        const { name } = pokemon;
        const id = index + 1;
        const image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`;
        return { name, id, image };
      }
    );

    return pokemon;
  } catch (error) {
    console.error(`Failed to fetch Pokemon: ${error}`);
  }
};

const pokemon = await fetchPokemon();
---

<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
    {
      pokemon?.slice(0, 20).map((pokemon) => (
        <div class="bg-white shadow rounded-lg p-4 transform transition-transform hover:scale-110 cursor-pointer">
          <img
            src={pokemon.image}
            alt={pokemon.name}
            class="mx-auto transition-transform transform hover:scale-300"
          />
          <h2 class="text-center text-xl font-bold">{pokemon.name}</h2>
        </div>
      ))
    }
  </div>
</div>
